<!-- src/app/components/task-form/task-form.component.html -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add New Task</h5>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input [(ngModel)]="title" name="title" type="text" class="form-control" placeholder="Task title" required>
      </div>
      <div class="mb-3">
        <textarea [(ngModel)]="description" name="description" class="form-control" col="30" rows="10" placeholder="Task Description" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
  </div>
</div>