<!-- src/app/components/task-list/task-list.component.html -->
<h2>Lista de tareas</h2>
<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>
        <button class="btn btn-primary btn-sm me-2" (click)="onEdit(task, editModal)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="onDelete(task.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Edit Modal -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Task</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <input [(ngModel)]="editingTask.title" name="editTitle" type="text" class="form-control" placeholder="Task title" required>
      </div>
      <div class="mb-3">
        <textarea [(ngModel)]="editingTask.description" name="editDescription" class="form-control" placeholder="Task Description" required></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveEdit(modal)">Save changes</button>
  </div>
</ng-template>
