<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIEdlbmVyYXRvcjogU1ZHIFJlcG8gTWl4ZXIgVG9vbHMgLS0+CjxzdmcgZmlsbD0iIzAwMDAwMCIgd2lkdGg9IjgwMHB4IiBoZWlnaHQ9IjgwMHB4IiB2aWV3Qm94PSIwIDAgMzIgMzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjx0aXRsZT5hbmd1bGFyanM8L3RpdGxlPg0KPHBhdGggZD0iTTE1Ljk0NiA5Ljc3NGwyLjk0MyA2LjE2MWgtNS41NDF6TTE1LjkyMSAzLjU1MWwtOC43MjIgMTkuNDA5IDMuMjU0LTAuMDYwIDEuNzQ5LTQuMzc1aDcuODE5bDEuOTE0IDQuNDM2IDMuMTE0IDAuMDU3ek0xNS45MjEgMi41NzZsMTIuODI4IDQuMzc0LTIuMDc4IDE2LjUzNS0xMC43NDkgNS45NDgtMTAuNTgzLTUuODctMS45MTEtMTYuNTM0ek0xNS45NTUgMS4wMDRsLTE0LjExMSA0Ljk2NiAyLjIyOSAxOC40ODcgMTEuODk3IDYuNTM4IDExLjk1Ny02LjYyNyAyLjIyOS0xOC40ODd6Ij48L3BhdGg+DQo8L3N2Zz4=" 
            alt="Descripción de la imagen SVG" width="30" height="30">
            Task App
        </a>
    </div>
</nav>
